<html>
  <head>
    <meta charset="utf-8">
    <title>Gluten Freedom</title>
  </head>
  <body>

    <div class="row" >
      <section class="large-12 columns text-center">
        <h1 class="gf_title">Gluten Freedom</h1>
      </secion>
    </div>

    <div class="row">
    <section class = "large-6 columns text-center">
      <%= form_tag search_path, method: :get do %>
        <%= text_field_tag :search, nil, placeholder: "Free yourself from the Gluten"  %>
        <%= submit_tag "search", class: "button" %>
      <% end %>
    </section>
  </body>
</html>
