.recipe_name {
  color: white;
  margin-left: 1%;
}

.recipe_details {
  background-color: white;
}

li {
  font-family: 'Raleway', sans-serif;
  font-size: 20px;
}

.health_labels {
  font-family: 'Shrikhand', cursive;
  color: #72AA97;
  display: inline-block;
}

p {
  font-family: 'Raleway', sans-serif;

}
